<html>
    <head>
        <meta charset="utf-8">
        <title>Lista de veículos cadastrados</title>
    </head>
    <body>
        {% load static %}
        <!-- <a href="/veiculos/novo">Novo</a> -->
        <ul>
            {% for veiculo in lista_veiculos %}
            <li>
                {{forloop.counter}} {{ veiculo.marca | upper }} {{veiculo.modelo | lower}} {{veiculo.ano_fabricacao}}: R$ {{veiculo.valor}}
                {% if veiculo.ano_fabricacao < 2015 %}
                    Carro antigo
                {% endif %}
                <a href="/veiculos/{{ veiculo.id }}/"><img src="{% static 'imgs/edit.jpg' %}" width="20" height="20"></a>
                <a href="/veiculos/deletar/{{ veiculo.id }}/"><img src="{% static 'imgs/delete.png' %}" width="20" height="20"></a>
            </li>
            {% endfor %}
        </ul>
        <div><a href="/veiculos/novo"><button type="button">Adicionar Veículo</button></a></div>
        <!-- adicionar maneira para deslogar após adicionar sessão de usuário-->
        <div><a href="/"><button type="button">Logout</button></a></div>
    </body>
</html>